
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: $main;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", STHeiTi, sans-serif;
  -webkit-overflow-scrolling: touch;
}

a {
  color: #333;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  -webkit-tap-highlight-color:transparent;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input {
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

a:active,
a:hover {
  outline-width: 0;
}

b,
strong {
  font-weight: inherit;
}

img {
  display: block;
  border-style: none;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

sub {
  vertical-align: middle;
}

h1 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: px2rem(24px);
}
